<form method="POST" action="/new"">
    <h2>New Message</h2>
    <label for="username">Name:</label>
    <input name="username" id="username" type="text" required />
    <label for="text">Your message:</label>
    <input name="text" id="text" type="text" required />
    <button>Submit</button>
</form>