<html>
  <head>
    <title>Mini Message Board</title>
  </head>
  <link rel="stylesheet" href="../styles/index.css" />
  <body>
    <a href="/new">new message</a>
    <% messages.map((message) => { %>
    <div class="message"">
      <div class="messageHeading">
        <h3><%= message.username %></h3>
      </div>
      <p><%= message.text %></p>
      <p><%= message.date_posted %></p>
    </div>
    <%}) %>
  </body>
</html>
